@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom styles */
body {
    @apply bg-surface-0 dark:bg-surface-950 text-surface-900 dark:text-surface-0;
    margin: 0;
}
